{% extends "base.html" %}

{% block title %}スタッフ登録 - 喫茶店在庫管理{% endblock %}

{% block content %}
  <h1>新しいスタッフを登録する</h1>
  <form method="POST">
    <p>スタッフのお名前</p>
    <input type="text" name="name" placeholder="例：Nozomi" required>
    
    <p>役割（ロール）</p>
    <select name="role" style="width: 80%; padding: 10px; margin-bottom: 20px; border-radius: 10px;">
        <option value="staff">スタッフ</option>
        <option value="admin">マスター（管理者）</option>
    </select>
    
    <button type="submit" class="btn-save">この人を登録する</button>
  </form>
{% endblock %}